# ============================================================

# Nama  : Rizal Imran Rusyadi
Kelas : BD-B

# 1. Tugas List Nilai (LATIHAN 2)

In [46]:
#Angka random

import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

# TAMPILKAN:
# ganjil
# nilai > 70
# standar deviasi
# maksimum
# minimum
# modus

[17, 99, 70, 66, 71, 54, 53, 23, 40, 72, 29, 19, 95, 95, 34, 30, 50, 18, 51, 1, 11, 60, 87, 6, 75, 44, 83, 70, 19, 75, 26, 35, 88, 36, 96, 1, 94, 51, 84, 13, 66, 98, 30, 18, 99, 81, 71, 73, 75, 2, 65, 46, 23, 49, 24, 42, 87, 76, 52, 98, 2, 65, 95, 62, 9, 66, 89, 4, 26, 37, 96, 19, 21, 6, 87, 11, 27, 47, 13, 24, 2, 89, 90, 6, 85, 72, 48, 76, 86, 7, 62, 95, 38, 3, 43, 34, 1, 98, 79, 4, 60, 40, 79, 33, 66, 83, 97, 72, 33, 78, 89, 22, 77, 80, 87, 72, 28, 85, 39, 23, 52, 4, 24, 56, 84, 25, 36, 96, 97, 51, 12, 35, 40, 37, 10, 94, 96, 76, 5, 83, 66, 78, 82, 89, 57, 14, 70, 2, 64, 44, 63, 9, 73, 98, 6, 57, 40, 81, 68, 50, 96, 43, 80, 73, 84, 34, 42, 7, 30, 88, 17, 98, 55, 11, 82, 97, 86, 86, 36, 93, 43, 54, 12, 65, 24, 44, 39, 48, 54, 34, 74, 21, 70, 50, 64, 37, 24, 20, 65, 17, 45, 17, 27, 47, 4, 31, 68, 28, 2, 28, 41, 39, 18, 75, 45, 19, 86, 85, 54, 6, 86, 40, 11, 1, 50, 36, 15, 58, 82, 41, 89, 54, 16, 82, 36, 79, 39, 4, 72, 87, 89, 12, 83, 42, 53, 16, 17, 5, 54, 9]

# a. Tampilkan Angka Ganjil dari ke 250 nilai tersebut

In [47]:
#menampilkan angka ganjil

Angka_ganjil=[]
for g in nilaiTugas:
    if g % 2 == 1:
        Angka_ganjil.append(g)
        
print ("Nilai ganjilnya adalah = \n",Angka_ganjil)

Nilai ganjilnya adalah =
 [17, 99, 71, 53, 23, 29, 19, 95, 95, 51, 1, 11, 87, 75, 83, 19, 75, 35, 1, 51, 13, 99, 81, 71, 73, 75, 65, 23, 49, 87, 65, 95, 9, 89, 37, 19, 21, 87, 11, 27, 47, 13, 89, 85, 7, 95, 3, 43, 1, 79, 79, 33, 83, 97, 33, 89, 77, 87, 85, 39, 23, 25, 97, 51, 35, 37, 5, 83, 89, 57, 63, 9, 73, 57, 81, 43, 73, 7, 17, 55, 11, 97, 93, 43, 65, 39, 21, 37, 65, 17, 45, 17, 27, 47, 31, 41, 39, 75, 45, 19, 85, 11, 1, 15, 41, 89, 79, 39, 87, 89, 83, 53, 17, 5, 9]

# b. Tampilkan berapa banyak yang mendapatkan nilai > 70

In [54]:
a70 = []
for g in nilaiTugas:
    if g > 70:
        a70.append(g)
print("Jumlah siswa yang mendapatkan nilai > 70 adalah sebanyak = ",len(a70))
print("Nilai > 70 sebagai berikut : \n",a70)

Jumlah siswa yang mendapatkan nilai > 70 adalah sebanyak =  83
Nilai > 70 sebagai berikut :
 [99, 71, 72, 95, 95, 87, 75, 83, 75, 88, 96, 94, 84, 98, 99, 81, 71, 73, 75, 87, 76, 98, 95, 89, 96, 87, 89, 90, 85, 72, 76, 86, 95, 98, 79, 79, 83, 97, 72, 78, 89, 77, 80, 87, 72, 85, 84, 96, 97, 94, 96, 76, 83, 78, 82, 89, 73, 98, 81, 96, 80, 73, 84, 88, 98, 82, 97, 86, 86, 93, 74, 75, 86, 85, 86, 82, 89, 82, 79, 72, 87, 89, 83]

# c. Tampilkan standar deviasi dari sekumpulan nilai tersebut

In [58]:
# Hitung standard deviasi

#hitung rata-rata
total = 0
for g in nilaiTugas:
    total = total + g
rata = total / len(nilaiTugas)

#hitung standar_deviasi
TotalSelisih = 0
for g in nilaiTugas:
    x=g-rata
    pangkat=x**2
    TotalSelisih=TotalSelisih+pangkat
s_dev = (TotalSelisih / (len(nilaiTugas)-1))**(0.5)

print("Standard Deviasi adalah =",s_dev)

Standard Deviasi adalah = 29.93315739521287

# d. Tampilkan nilai maksimum dan minimum

In [67]:
nlMaks = nilaiTugas[0]
nlMin = nilaiTugas[0]
for g in nilaiTugas:
    if(g>nlMaks):
        nlMaks = g
    if(g<nlMin):
        nlMin = g

print('Nilai Maks = ', nlMaks)
print('Nilai Min  = ', nlMin)

Nilai Maks =  99
Nilai Min  =  1

# e. Tampilkan modus dari sekumpulan nilai tersebut

In [101]:
#Cari siapa yang modus? :D

maks=0
mod={}

for i in nilaiTugas:
    count= nilaiTugas.count(i)
    mod.update({i:count})

for n in mod:
    if mod[n]>maks:
        maks=modus[n]

for n in mod:
    if mod[n]==maks:
        print("Nilai Modusnya adalah =",n)

Nilai Modusnya adalah = 54
Nilai Modusnya adalah = 89

![title](img/python2.png)

# 2. Tugas Word Count (LATIHAN 3)

In [100]:
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
print(paragraf)

#replace karakter spesial denga spasi

paragraf = paragraf.replace("-", " ")
paragraf = paragraf.replace("/", " ")
paragraf = paragraf.replace(",", " ")
paragraf = paragraf.replace("("," ")
paragraf = paragraf.replace(")", " ")

#ubah jadi huruf kecil semua

paragraf = paragraf.lower()

#dipecah menjadi kalimat-kalimat
kalimat = paragraf.split('.')
kt = []
# masing-masing kalimat dipecah menjadi kata
for k in kalimat:
    kt.append(k.strip().split())

# gabung jadi 1 list
listKata = []
for k in kt:
    listKata = listKata + k

# cetak(daftarKata)
# get unique word
ms = set(listKata)
md = {}
for i in ms:
    md[i] = listKata.count(i)

# print(myDictionary)
print('\n\n (Word Count) dari paragraf di atas adalah sebagai berikut :')
for k,v in md.items():
        print('#',k,':',v)

Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir.


 (Word Count) dari paragraf di atas adalah sebagai berikut :
# lionel : 1
# puncak : 1
# pertandingan : 1
# membuka : 1
# atas : 1
# gol : 1
# 20 : 1
# namun : 1
# dicetak : 1
# barcelona : 4
# liga : 1
# kesembilan : 1
# stadion : 1
# 10 : 2
# messi : 3
# berakhir : 1
# setelah : 1
# berhasil : 1
# seusai : 1
# nou : 1
# pekan : 1
# klasemen : 1
# pada : 3
# 2018 : 1
# minggu : 1
# wib : 1
# bagi : 1
# harus : 1
# cedera : 1
# nahas : 1
# posisi : 1
# sevilla : 1
# 4 : 1
# 0 : 1
# 26 : 1
# bertahan : 1
# sabtu : 1
# oleh : 1
# melalui : 1
# mengalami : 1
# karena : 1
# coutinho : 1
# merebut : 1
# berselang : 1
# menggandakan : 1
# ditarik : 1
# di : 1
# babak : 1
# dini : 1
# menit : 3
# camp : 1
# keluar : 1
# yang : 1
# keunggulan : 2
# hingga : 1
# pertama : 1
# atau : 1
# skor : 1
# la : 1
# menang : 1
# 2 : 3
# tanpa : 1
# hari : 1
# ke : 2
# spanyol : 1
# philippe : 1

# ============================================================